extends layout

block content
    div(class="uk-container uk-container-center")
        div(class="uk-grid",data-uk-grid-margin)
            div(class="uk-width-medium-1-1")
                div(class="uk-vertical-align uk-text-center",style="height: 300px;background:#efefdf")
                    div(class="uk-vertical-align-middle uk-width-1-2")
                            h2(class="uk-heading-large") Get your badge
                            form(class="uk-form")
                                input(id="username")
                                a(class="uk-button uk-button-success", onclick="location.href='/stats/'+document.getElementById('username').value")
                                    i(class="uk-icon-cog uk-text-success") 
                                    |  Listens per day

    div(class="uk-grid",data-uk-grid-margin)
        div(class="uk-width-medium-1-1")
            div(class="uk-panel uk-panel-box uk-text-center")
                p
                    |Footer 
                    a(class="uk-button uk-button-primary uk-margin-left",href="https://github.com/hasantayyar/lastfm-badges") Github


